* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #efd8ba;
}
.mainWindow {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header {
    height: 100%;
    background-color: #383838;

    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 100%;
    grid-column-gap: 2px;
}

.headerDivide {
    -webkit-app-region: drag;
}

.headerButton {
    position: relative;
    text-align: center;
    font-size: 25px;
    background-color: #9f9384;
    cursor: pointer;
}

.myButton {
    position: relative;
    bottom: 8px;
}

.content {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 60% 20%;

    position: relative;
}

.centerCont {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 30%;
}

.input {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: solid 2px;
    margin-top: 5%;
    border-radius: 20px 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
}

#myDowButton {
    color: #9f9384;
    height: 25px;
    width: 80px;
    position: relative;
    background-color: black;
    border: solid 1px #9f9384;
    border-radius: 5px 5px;
    cursor: pointer;
    top: 20%;
}

.videoData {
    display: grid;
    grid-template-rows: 45% 35% 45%;
}

.videoInfo {
    margin: auto;
    width: 80%;
    text-align: center;
    border: solid 2px black;
    border-radius: 15px 5px;
}

#videoName {
    font-size: 10px;
    position: relative;
    overflow: hidden;
}